h2{
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  

}

.imagem2{
    background-image:url(https://images2.alphacoders.com/546/thumb-1920-546183.jpg)
}

.imagem2{
    background-size: 100%;
}
ol{
    color:white;
}